header, section, footer, aside, nav, main, article, figure{

    display: block;
    
    }
    
    
    .contenedorFlex{
    
    display: flex;
    
    flex-flow: row wrap;
    
    justify-content: flex-start;
    
    align-items: flex-start;
    
    background: #F6EBC6;
    
    }
    
    
    p{
    
    max-width: 31%;
    
    border: 1px solid gray;
    
    }