* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0;
}

nav{
    position: sticky;
    top : 0;
    z-index: 2;
}

.logo{
    z-index: 0;
    padding: 50px;
    display: block;
    margin: auto;
    width: 800px;
}

.menu>li{
    list-style: none;
    width: 33.33%;
    text-align: center;
    float: left;
}

.menu ul{
    display: none;
}

.menu li:hover>ul{
    display: block;
}

.menu a{
    color: white;
    text-decoration: none;
    background-color: black;
    display: block;
    padding: 10px;
}

.menu a:hover{
    border: 1px solid white;
    transition: .4s;
}

iframe{
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    animation: video 1s ease 0s 1 normal forwards;
}

article{
    background-color: lightsteelblue;
    line-height: 3;
    padding: 100px;
    text-align: center;
}

article p{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

table{
    margin: auto;
}

table img{
    border-radius: 30px;
    background-color: white;
    width: 90%;
}

td, th{ 
    display: table-cell;
    padding: 50px;
    background-color: black;
    color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

td:nth-child(1), th:nth-child(1){ 
    animation: entrada-izquierda 1s linear 0s 1 normal none;
}

td:nth-child(2), th:nth-child(2){ 
    animation: entrada-derecha 1s linear 0s 1 normal none; 
}

td:hover, th:hover{ 
    box-shadow: 0 0 20px white;
    border: 2px white solid;
    scale: 105%;
}

footer{
    color: white;
    width: 100%;
    text-align: center;
    height: 100vh;
    background-color: black;
    position: absolute;
}

footer img{
    margin-top: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

@keyframes video {
    0%{
        opacity: 0;
        transform: scale(0.6);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes entrada-izquierda {
0% {
animation-timing-function: ease-in;
opacity: 0;
transform: translateX(-250px);
}

38% {
animation-timing-function: ease-out;
opacity: 1;
transform: translateX(0);
}

55% {
animation-timing-function: ease-in;
transform: translateX(-68px);
}

72% {
animation-timing-function: ease-out;
transform: translateX(0);
}

81% {
animation-timing-function: ease-in;
transform: translateX(-28px);
}

90% {
animation-timing-function: ease-out;
transform: translateX(0);
}

95% {
animation-timing-function: ease-in;
transform: translateX(-8px);
}

100% {
animation-timing-function: ease-out;
transform: translateX(0);
}
}

@keyframes entrada-derecha {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}
 
	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}