* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0;
}

body{
    background-color: white;
}

nav{
    position: sticky;
    top : 0;
    z-index: 2;
}

.menu>li{
    list-style: none;
    width: 33.33%;
    text-align: center;
    float: left;
}

.menu ul{
    display: none;
}

.menu li:hover>ul{
    display: block;
}

.menu a{
    color: white;
    text-decoration: none;
    background-color: black;
    display: block;
    padding: 10px;
}

.fondo{
    height: 500px;
    background: url(../images/fondo-telesforo.jpg) center center/cover no-repeat fixed;
    filter: blur(2px);
}

.descripcion{
    margin-left: 7%;
    list-style: none;
    width: 40%;
    float: left;
}

.descripcion li{
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    line-height: 100px;
    border: 10px solid lightsteelblue;
    border-radius: 20px;
}

.descripcion li:hover{
    border-color: blue;
    box-shadow: 0 0 20px blue;
}

.perfil{
    position: relative;
    display: flex;
    margin: auto;
    margin-top: -100px;
    width: 250px;
    border-radius: 100%;
    border: 8px white solid;
}

h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.ubicacion{
    margin-right: 7%;
    float: right;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 10px solid lightsteelblue;
}

.ubicacion:hover{
    border-color: blue;
    box-shadow: 0 0 20px blue;
}

a{
    width: 100%;
}

.menu a:hover{
    border: 1px solid white;
    transition: .4s;
}

footer{
    color: white;
    width: 100%;
    text-align: center;
    height: 100vh;
    background-color: black;
    position: absolute;
}

footer img{
    margin-top: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}