* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0;
}

nav{
    position: sticky;
    top : 0;
    z-index: 2;
}

.menu>li{
    list-style: none;
    width: 33.33%;
    text-align: center;
    float: left;
}

.menu ul{
    display: none;
}

.menu li:hover>ul{
    display: block;
}

.menu a{
    color: white;
    text-decoration: none;
    background-color: black;
    display: block;
    padding: 10px;
}

.menu a:hover{
    border: 1px solid white;
    transition: .4s;
}

header{
    padding-top: 50px;
    height: 50px;
}

.logo{
    margin-right: 50px;
    float: right;
    width: 150px;
    height: 60px;
}

.boton{
    color: black;
    text-decoration: none;
    font-size: 80%;
    background-color: lightgray;
    border: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    padding: 5px;
}

.boton:hover{
    background-color: gray;
    border-color: black;
    transition: .4s;
}

.article{
    margin: auto;
    text-align: center;
    background-color: lightsteelblue;
    margin-top: 20px;
    width: 90%;
}

.article:nth-of-type(even){
    background-color: lightsalmon;
}

main img{
    width: 30%;
    transition: 0.3s ease-in-out;
}

main img:hover{
    scale: 120%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

footer{
    color: white;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    height: 100vh;
    background-color: black;
    position: absolute;
}

footer img{
    margin-top: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}