header>iframe{
    height: 180px;
    width: 100%;
}

nav>iframe{
    float: left;
    height: 1000px;
    width: 20%;
}

main>iframe{
    height: 1000px;
    width: 79%;
}

.bienvenida{
    text-align: center;
}

ul{
    list-style: none;
}