header, section, footer, aside, nav, main, article, figure{

    display: block;
    
    }
    
    
    .contenedorFlex{
    
    display: flex;
    
    flex-flow: row wrap;
    
    justify-content: flex-start;
    
    align-items: stretch;
    
    background: #F6EBC6;
    
    }
    
    
    p:not(:nth-of-type(1)){
    
    border: 1px solid gray;
    
    flex: 1 0 20%;
    
    
    }
    
    
    p:nth-of-type(1){
    
    border: 1px solid gray;
    
    flex: 7 0 20%;
    
    }