header, section, footer, aside, nav, main, article, figure{

    display: block;
    
    }
    
    
    .contenedorFlex{
    
    display: flex;
    
    flex-flow: column-reverse;
    
    background: #F6EBC6;
    
    }
    
    
    p{
    
    max-width: 23%;
    
    border: 1px solid gray;
    
    }